* {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body{

    main{
        
        section{
            border: 1px solid black;
            height: 550px;
            width: 343px;
            background-color: skyblue;

            .display-div {
                margin: 20px 10px;

                
                .disp-input {
                    height: 70px;
                    width: 322px;
                }

            }

            .btn-1-div{

                .in1 {
                    height: 70px;
                    width: 70px;
                    margin-left: 10px;

                }
            }

            .btn-2-div{

                .in2 {
                    height: 70px;
                    width: 70px;
                    margin-left: 10px;

                }
            }

            .btn-3-div{

                .in3 {
                    height: 70px;
                    width: 70px;
                    margin-left: 10px;
                    
                }
            }

            .flex-div{
                display: flex;

                .one-div{

                    .in4 {
                        height: 70px;
                        width: 70px;
                        margin-left: 10px;

                    }

                    #zero {
                        margin-top: 18px;
                        width: 154px;
                    }

                }

                .equal-div {

                    .in5 {
                        height: 158px;
                        width: 70px;
                        margin-right: 10px;

                    }

                }

            }

        }
    }

  }