* {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body{

    main{
        
        section{
            border: 1px solid black;
            height: 500px;
            width: 400px;
            background-color: skyblue;

            .display-div {
                
                .disp-input {

                }

            }

            .btn-1-div{

                .in1 {

                }
            }

            .btn-2-div{

                .in2 {

                }
            }

            .btn-3-div{

                .in3 {
                    
                }
            }

        }
    }

  }